body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.card {
  background: #1e293b;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
}

strong {
  font-size: 28px;
  color: #22c55e;
}

input {
  padding: 10px;
  width: 80%;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  color: #022c22;
  font-weight: bold;
}

#status,
#alert-status {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}
